body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
  /* background-size: cover; */
  height: 1vh; 
  overflow: auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.legendText {
  color: rgb(107,137,142) !important;
  text-shadow: .5px .5px #366A71;
}

a {
  font-size: x-large;
  color: #06545d;
}

.mainCards {
  /* margin-bottom: 20% !important; */
  border-radius: 50px;
}


/* TopNav */

.float {
  float: right;
}

.navColor {
  background-color: #fff;
}

.topNavItem {
  color: #366A71 !important;
  text-shadow: .5px 1px rgb(107,137,142);

}

.topNavItem:hover {
  font-weight: bold;
}

.name {
  color: rgb(107,137,142) !important;
  text-shadow: .5px .5px #366A71;
}

.name:hover {
  font-weight: bold;
  color: #a3acad;
}

/* Intro */

.cardIntro {
  margin-top: 10%;
  margin-bottom: 0px;
  vertical-align: middle;
  padding: 40px;
}

.nameIntro {
  text-align: center;
  /* font-size: xx-large; */
  font-family: 'Alata', sans-serif !important;
  /* color: white; */
  /* -webkit-text-stroke: 1px black; */
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bodyIntro {
  text-align: center;
  font-size: 50px;
  /* color: black;
  -webkit-text-stroke: .6px white; */
  color: white;
  -webkit-text-stroke: 1px black; 
}

#topLine {
  background: -webkit-linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#botLine {
  background: -webkit-linear-gradient( 109.6deg, #bbb 16%, rgba(5,84,94,1) 91.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About */

.aboutMe {
  border-radius: 50px;
  /* background-color: #BDC2BE; */
}
.aboutText {
  padding-top: 1em;
  /* padding-bottom: 2em; */
  line-height: 1.75em;
}

@-webkit-keyframes teachPod {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes teachPod {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.teachPod {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  font-size: large;
}
.teachPod:hover, .teachPod:focus, .teachPod:active {
  -webkit-animation-name: teachPod;
  animation-name: teachPod;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: green;
  text-decoration: none;
}


#bioImage {
  padding: 2em;
  border-radius: 25%;
}

/* Portfolio */

.portCard {
  border-radius: 50px;
  margin-bottom: 20% !important;
}

.descriptionText{
  overflow-y: auto;
  height: 40px;
  width: auto;
  text-align: center;
  vertical-align: center;
  /* border: 1px solid black; */
  padding: 2px;

}
.prjBtn {
  background-color: #f8f9fa;
  color: #06545d;
  margin-top: 5px;
}

/* .prjBtn:hover {
  color: white !important;

} */

.a:hover {
  color: white !important;

}

.buttonText {
  color: #06545d;
}

.buttonText:hover {
  color: white;
  text-decoration: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* Contact */
.contactCard {
  padding: 4% !important;
}
#contact-image {
  display: block;
  height: auto;
  max-height: 324px;
  min-width: 487px;
  /* min-width: 500px !important; */
}

.submit {
  background-color: #f8f9fa;
  color: #06545d;
}


/* footer */

i {
  font-size: x-large;
  color: #06545d;
}

i:hover {
  font-size: xx-large;
}

.footerNav {
 background-color: #fff !important;
}

/* Media Queries  */

@media only screen and (max-width: 800px) {
  .mainCards {
    margin-bottom: 20% !important;
  }

  .contactCard {
    padding: 10% !important;
  }

  .descriptionText{
    height: 50px;
  }
}

@media only screen and (max-width: 769px) {
  .aboutText {
    text-align: center;
  }
}



@media only screen and (max-width: 430px) {
  .nameIntro {
    font-size: 34px;
  }

  .bodyIntro {
    font-size: 25px;
  }

  .introCard {
    margin-top: 4em !important;

  }


}


/* Shoutout to cssgradient.io for the cool gradient text ideas */