body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(/assets/images/background-port.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Portfolio */

.projbtn {
  background-color: #f8f9fa;
  margin-top: 5px;
}

.projbtn:hover {
  background-color: #cecece;
}



/* Contact */
a {
  font-size: x-large;
}

/* .center {
  justify-content: center;
}  */

/* div.row {
  justify-content: center;
} */

#contact-image {
  display: block;
  height: auto;
  /* min-width: 500px !important; */
}

div.card {
  /* margin-top: 25% !important;
  margin-bottom: 50% */
  margin-bottom: 20% !important;
  
}